<div class="form-group <%= classes %>">
  <label class="form-label">Brand</label>
  <select
    class="form-control <%= error && 'is-invalid' %>"
    name="brand"
  >
    <option value="">Select...</option>
    <% ['Acer','Apple','Asus','Dell','HP','Lenovo','Microsoft'].forEach((brand) => { %>
      <option
        value="<%= brand %>"
        <%= value === brand ? 'selected' : '' %>
      >
        <%= brand %>
      </option>
    <% }) %>
  </select>
  <p class="invalid-feedback"><%= error %></p>
</div>
